/* Media Query for Tablet */


@media (max-width: 991px) {

    html{
        font-size: 85%;
    }
    html .logo{
        font-size: 180%;
        /* margin-left: px; */
        margin-left: -6px;
        padding-right: 2px;
        margin-top: -6px;
    }
    header {
        padding: 2rem;
    }
    
    header .cta{
        display: flex;
        flex-wrap: nowrap;  
     
    }
    header .cta a{
        margin-right: 4px;
    }
    section{
        padding: 2rem;
    }
    .hero{
        background-position: left;
    }
    .about-content{
        margin-left: 20px;
    }
}

@media (max-width:768px){
    header .container .fa-bars{
        display: block;
        margin-left: -35px;
    }
    header .navbar{
        position: absolute;
        top:20%; left:0;right: 0;
        background:#A0522D;
        /* background:#DEB887; */
        border-top: .1rem solid rgba(0, 0, 0, .1);
        font-size: 15px;
        clip-path: polygon(0 0,100% 0, 100% 0,0 0);
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);

    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background-color: #DEB887;;
        border: .1rem solid white;
        display: block;
    }
    header .navbar :hover a{
        color: black;
        text-decoration: none;
    }
    header .logo{
        font-size: 35px;
        margin-top: -5px;
        margin-left: 20px;
        margin-right: 10px;
    }
    .hero {
        background-size: 100%;
        margin-top: -130px;
        margin-bottom: -200px;
    }
    .about-us {
        margin-top: -120px;
    }
    .about-us h2{
        font-size: small;
        margin-left: -10px;
        margin-right: 10px;
        display: block;
    }
   .about-content p {
    font-size: small;
    justify-content: center;
   }
   .about-content {
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    
   }
   .testimonials{
    margin-top: -90px;
    margin-bottom: -80px;
   }

   .testimonials h2{
    font-size: small;
        margin-left: -10px;
        margin-right: 5px;
        
   }
   .delivery-and-return{
      margin-top: -140px;
   }
   .delivery-and-return p{
    font-size: 14px;
    /* width: 90%; */
    /* justify-content: center; */
   }
   .delivery-and-return h2{
    font-size: 20px;
    display: flex;
   }
   .newsletter h2{
    font-size: small;
    margin-left: -10px;
    margin-right: 5px;
   }
   .newsletter .newsletter-form{
    width: 90%;
   }
   #footer i{
    font-size:13px;
   }
}




@media (max-width:435px){
    html{
        font-size: 50%;
        /* background-color: aqua; */
    }
    /* header{
        margin-bottom: 0;
    } */
    .hero{
        margin-top: -300px;
        margin-bottom: -435px;
    }
    .hero h1{
        padding-top: 400px;
    }
    .about-us{
        margin-top: -500px;
    }
    .about-us .about-content{
        height: 100%;
    }
    .product-item {
        width: 190px;
    }
    .product-item img {
        margin-bottom: 7px;
    }
    .testimonial-item {
        width: 250px;
    }
    .delivery-and-return {
        width: 400px;
    }
    #footer{
        font-size: 10px;
    }
    /* .hero .container{
        height: 300px;
        padding-top: -100px;
    }
    .hero .hero-content{
        color:blue;
    } */
}



